.chart {
  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bar {
    width: 3rem;
    height: 10rem;
    background-color: $Soft-red;
    transition: all 0.25s ease;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background-color: rgba($Soft-red, 0.8);

      & .chart__bar-amount-box {
        visibility: visible;
        opacity: 1;
        transition: all 0.25s ease;
      }
    }

    &--highlighted {
      background-color: $Cyan;

      &:hover {
        background-color: rgba($Cyan, 0.8);
      }
    }
  }

  &__bar-amount-box {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -2.4rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: 700;
    color: $Very-pale-orange;
    background-color: $Dark-brown;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    transition: all 0.25s ease;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 700;
    color: $Medium-brown;
  }
}
