@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$poppins: "Poppins", sans-serif;

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Green-d: hsl(154, 58%, 43%);
$Blue: hsl(248, 32%, 49%);
$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);
$white: #ffffff;

// Heading
@import "./Intro.scss";
// Form
@import "./Form.scss";

body {
  width: 100%;
  height: 100%;
  font-family: $poppins;
}

.App {
  background: url("../img/bg-intro-desktop.png") no-repeat, $Red;
  min-height: 100vh;

  &__container {
    max-width: 120rem;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 5rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 5rem 2rem;
    }
  }
}
