@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$kumbh-sans: "Kumbh Sans", sans-serif;
$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);
$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);
$Very-dark-grayish-blue: hsl(237, 12%, 33%);
$Dark-grayish-blue: hsl(240, 6%, 50%);
$Light-grayish-blue: hsl(240, 5%, 91%);

@import "./FaqAccordion.scss";
@import "./FaqAccordionItem.scss";

body,
main {
  width: 100%;
  min-height: 100vh;
}

body {
  background: linear-gradient($Soft-violet, $Soft-blue);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15rem;
}

.card {
  display: flex;
  // min-width: 90rem;
  width: 90rem;
  background-color: $Light-grayish-blue;
  font-family: $kumbh-sans;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px rgba($Very-dark-desaturated-blue, 0.5);
  @media screen and (max-width: 767px) {
    flex-direction: column;
    width: 36rem;
  }

  &__thumbnail {
    flex-basis: 50%;
    background-color: aquamarine;
    background: url("../img/illustration-woman-online-desktop.svg") no-repeat,
      url("../img/bg-pattern-desktop.svg") no-repeat;
    background-position: -9rem 4rem, -58rem -32rem;
    position: relative;
    @media screen and (max-width: 767px) {
      min-height: 14rem;
      background: url("../img/bg-pattern-desktop.svg") no-repeat;
      background-size: 75%;
      background-position: 50% -14rem;
    }

    & > img {
      position: absolute;
      top: 17rem;
      left: 0;
      transform: translate(-50%, 0);
      @media screen and (max-width: 767px) {
        top: -11rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 26rem;
      }
    }

    & > img:first-of-type {
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    & > img:last-of-type {
      display: none;
      @media screen and (max-width: 767px) {
        display: block;
      }
    }
  }

  &__faq {
    flex-basis: 50%;
    padding: 7rem 7rem 7rem 0;
    @media screen and (max-width: 767px) {
      padding: 2rem 2rem 4rem 2rem;
    }
  }

  &__faq-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 767px) {
      text-align: center;
      font-size: 3rem;
    }
  }
}
