.ratings-item {
  display: flex;
  align-items: center;
  background-color: $Light-Grayish-Magenta;
  padding: 1.5rem 0 1.5rem 2rem;
  min-width: 37.5rem;
  border-radius: 1rem;
  @media screen and (max-width: 767px) {
    min-width: unset;
    max-width: 37.5rem;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    flex-direction: column;
  }

  &__stars {
    & > img {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  &__type {
    font: 700 1.6rem $ls;
    color: $Very-Dark-Magenta;
    margin-left: 2rem;
    padding-top: 0.5rem;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
}
